.name {
    margin-right: 15px;
}

.number {
    display: inline-block;
}

.button {
    font-size: 18px;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 100px;
    margin-left: 12px;
    border: none;
    background-color: #1a7ada;
    cursor: pointer;
    border-radius: 3px;
}

.button:hover,
.button:focus {
    background-color: #c41566c9;
}

.buttonsBox {
    display: block;
}

.item {
    align-items: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 30px;
    height: 30px;
    border-radius: 5px;
    width: 250px;
}

.button {
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 15px;
    width: 140px;
    margin-bottom: 30px;
    background-color: #1a7ada;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 15px;
}

.button:hover{
    background-color: #c41566c9;
}